<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReservMapper">
	<insert id="addReserv" parameterType="com.example.demo.dto.ReservDto" useGeneratedKeys="true" keyProperty="reservid">
		INSERT INTO reservlist
		(routeid, routeDeparture, routeArrival, routeTime, routeArrivalTime, resnum, reservday, PNR, userid)
		VALUES (#{routeid}, #{routeDeparture}, #{routeArrival}, #{routeTime}, #{routeArrivalTime}, #{resnum}, now(), #{PNR}, #{userid})
	</insert>
	<select id="getSeatid" parameterType="map" resultType="int">
		SELECT seatid FROM trainseat WHERE seatnum = #{trim} and routeid=#{routeid}
	</select>
	<update id="upTrainSeatAvai" parameterType="com.example.demo.dto.ReservDto">
		UPDATE trainseat SET reserv=0, resid= #{reservid} WHERE routeid = #{routeid} AND seatid = #{seatid}
	</update>
	<update id="upRouteSeat" parameterType="com.example.demo.dto.ReservDto">
		UPDATE routes SET seat=(seat-#{resnum}) WHERE routeid = #{routeid}
	</update>
	
	<select id="list" resultType="com.example.demo.dto.ReservDto">
	  select * from reservlist order by reservid desc
	</select>
	
	
</mapper>

